header {
    display: flex;
    padding: 16px 32px;
    flex-direction: column;
    gap: 16px;
}

@media screen and (min-width: 768px) {
    header {
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }
}

.wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
}

.redditIcon {
    width: 48px;
    height: 48px;
    color: orangered;
}

.title {
    font-size: 24px;
    font-weight: 700;
    color: orangered;
}

.title span {
    color: #000;
}

.searchForm {
    display: flex;
    align-items: center;
    gap: 8px;
}

.searchInput {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
    transition: border-color 0.3s ease;
}

.searchInput:focus {
    outline: none;
    border-color: orangered;
}

.searchButton {
    padding: 8px 16px;
    background-color: orangered;
    color: #fff;
    border: 1px solid orangered;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.searchButton:hover {
    background-color: white;
    color: orangered;
    border: 1px solid orangered;
}

.searchButton:active {
    transform: scale(0.90);
}